
body {
    margin: 0;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.home-main{
    margin:200px;
    padding: 100px;
}
.home-img{
    display: block;
    padding: 5px 5px;
    width: 45px;
}
.home-container{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.hobby-container{
    font-size: 20pt;
    line-height: 1;
    text-align: left;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.hobby-main{
    width: 100%;
    height: auto;
    margin:10px;
    padding: 10px;

}
.hobby-img{
    display: block;
    padding: 10px 10px;
    width: 300px;
    height: 300px;
}
.work-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    }
.work-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.work-container {
    padding: 2px 16px;
}
.work-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
}
.about-main{
    margin:0;
    padding: 0;
    display: block;
}
.about-container{
    margin: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.about-container p{
    font-size: 20pt;
}
.about-container2{
    font-size: 20pt;
    clear: both;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 20%;
    padding: 50px;
}
.about-container2 ul{
    margin: 0;
    padding: 0;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li{
    border-right: 1px solid #bbb;
}
nav li:last-child{              
    border-right: none;
}
nav ul li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: arial;
}
nav ul li a :hover{
    color: dodgerblue;
}
nav ul li :hover{
    background :darkgray;
}
h1{
    font-family: arial;
    font-size: 50;
    margin: 0;
    padding: 0;
}
p{
    font-family: arial;
    font-size: 20;
}
@media screen and (max-width:1200px){
    nav ul li {
        text-align: center;
        float: none;
    }
    .hobby-container{
        text-align: center;
        float: none;
        width: 100%;
        font-size: 15pt;
    }
    .hobby-img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:600px){
    nav ul li {
        text-align: center;
        float: center;
    }
    .hobby-container{
        text-align: center;
        float: none;
        width: 90%;
        font-size: 10pt;
    }
    .hobby-img{
        width: 70px;
        height: 70px;
    }
}